.head{
 text-align: center;
 color: brown;
}
.nav{
    background-color: blue;
    

}
.nav ul {
    display: flex;
    justify-content: center;
    width: 100%;

}
.nav ul li {
    padding: 5px;
    margin: 5px;
    list-style: none;
}
.nav ul li a{
    color: white;
    text-decoration: none;
}